.menu-mobile{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
    overflow-x: hidden;
    padding: 70px 10px 10px 10px;
    &__close{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        cursor: pointer;
        img{
            width: 30px;
            height: 30px;
        }
    }
    /deep/ .the-header-search__input{
        width: 230px;
    }
    &__link{
        margin-top: 10px;
        a{
            display: flex;
            align-items: center;
            text-align: left;
            padding: 10px;
            text-decoration: none;
            border-bottom: 1px solid $color-brand; 
            img, svg{
                flex-shrink: 0;
                width: 20px;
                height: 20px;
                margin-right: 14px;
            }  
        }
       
    }
}