.course-rates {
    .course-rates__top {
        background: #F8F8F8;
        border: 1px solid #EEEEEE;
        padding: 1.5rem 3rem;
    }
    .course-rates__nav {
        margin-top: 1rem;
        .btn {
            margin-right: 1.8rem;
        }
    }
}