.course-rates-comment {
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
    + .course-rates-comment {
        border-top: 1px solid $color-border;
    }
    .auth {
        display: flex;
        align-items: center;
    }
}