.icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    fill: currentColor;
    transition: fill 0.3s;
  
    path {
        fill: inherit;
    }
}

.fill-opacity-1 {
    fill-opacity: 1;
    
    path {
        fill-opacity: 1;
    }
}