.e-exercise-list {
    list-style-type: none;
}

.e-exercise-note {
    margin-left: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    top: 33rem;
}