.dtu-box {
  border: 1px solid #E0E0E0;
  border-radius: $border-radius-common;
  background-color: #fff;
}

.dtu-box__title {
  background: #F9F9F9;
  border-radius: 2px 2px 0px 0px;
  padding: 1.5rem;
  border-bottom: 1px solid #E0E0E0;
}

.dtu-box__heading {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: (20/18);
}

.dtu-box__content {
  padding: 2rem 1.5rem;
}

.dtu-answer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: .8rem 1.5rem;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
  }

  &__icon-file, &__checked {
    font-size: 2.4rem;
  }

  &__icon-file {
    color: #999;
    margin-right: 0.7rem;
  }

  &__checked {
    color: $color-primary;
    margin-left: auto;
  }

  &__remove {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 1rem;
    padding: 1rem;
    margin-right: -.5rem;

    .icon {
      display: block;
    }
    
    &:hover {
      color: $color-primary;
    }
  }

  &__name {
    text-decoration: underline;
    word-break: break-word;
    margin-right: 1rem;
  }
}

.dtu-btn-send {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #008EAF;
  height: 4.2rem;

  .icon {
    font-size: 2.4rem;
    margin-right: 0.9rem;
  }

  @include media(">=md") {
    min-width: 29.3rem;
  }
}

.dtu-upload {
  display: inline-block;
}

.dtu-btn-upload {
  height: 3.5rem;
}

.dtu-question {
  display: block;
  padding: 1.5rem 2rem;
  color: $color-text;
  cursor: pointer;

  &:hover {
    color: $color-primary;
    background-color: #F9F9F9;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #F2F2F2;;
  }

  &--image {
    img {
      vertical-align: text-top;
      width: 100px;
      height: 100px;
      object-fit: cover;
      background-color: $color-image-placeholder;
      border-radius: $border-radius-common;
    }
  }
}