.rank-item {
  padding: 1rem 0;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }

  .row {
    .rank-item__row {
      padding: 10px 40px;
      width: 100%;
      &:hover {
        cursor: default;
        background: rgba(#32AF85, .05);
      }
    }
  }

  &__title {
    font-weight: normal;
    font-size: 1.4rem;
    color: #999;
    line-height: 1.9rem;
    padding: 1rem 2rem;
  }

  &__list-item {
    color: #333;
    line-height: 1.9rem;
  }
}