.wrap-department-manager{
    background: #FFFFFF;
    h5{
        padding-top:12px;
    }
    .avatar{
        border-radius: 0px;
        margin-left:20px;
    }
}
.department-manager-text{
    p{
        color:#666666;
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0px;
    }
    strong{
        color: #333333;
    }
}