 .upload-repository__box--upload{
     box-shadow: $shadow-1;
     border: 1px dashed $color-text-sub;
     padding: 1.5rem;

     .file-name {
         color: $color-text-dark;
         font-size: 1.5rem;
         line-height: 1.9rem;
         font-weight: bold;
         margin-bottom: 0.5rem;
     }

     .text-instruction {
         font-size: 1.3rem;
         line-height: 16px;
         padding-right: 12%;
         padding-left: 12%;
     }

     input[type=file] {
      display: none;
      z-index: -9999;
     }

 }

.icon-uploading-cancel {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    right: 0;
    top: calc(50% - 0.9rem);
    & path {
        fill: #DADADA;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover path {
        fill: $color-warning;
    }
}

.process--upload {
    background: #fff;
    border: 1px solid $color-primary;

    &__percentage {
        height: 1.3rem;
        background-color: lighten($color-primary, 0.8);
    }

    &__status {
        font-size: 1.3rem   ;
    }
}

.upload-alert {
    //.btn--other-file {
    //    //background-color: #fff;
    //    color: $color-primary;
    //    svg {
    //        width: 1.6rem;
    //        height: 1rem;
    //        margin-right: .5rem;
    //        path {
    //            fill: $color-primary;
    //        }
    //    }
    //}
}

.upload-alert--error {
    margin-bottom: 1rem;

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon--close-alert {
        height: 1.8rem;
        width: 1.8rem;
        margin-right: 0.5rem;
        path {
            fill: rgba(213, 0, 0, 0.6);
        }
        &:hover {
            cursor: pointer;
        }

        &:hover path {
            fill: lighten(rgba(213, 0, 0, 0.6), .8);
        }
    }
    &__mess {
        color: rgba(213, 0, 0, 0.6);
        letter-spacing: -0.01em;
        font-weight: 600;
    }

    &__status {
        text-align: center;
        font-style: italic;
        font-size: 1.3rem;
        color: rgba(213, 0, 0, 0.5);
    }
}

.upload-alert--success {
    margin-bottom: 1rem;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        svg.icon {
            margin-right: .4rem;
        }

        margin-bottom: 1rem;
        color: $color-primary;
        display: flex;
        align-items: center;
    }
}

 .upload-repository__title {
     font-weight: 500;
     margin-bottom: 1.3rem;
     height: 2rem;
 }
 
 .upload-repository__box {
     height: calc(100% - 3.3rem); // 100% - height of .upload-repository__title
     padding: 1.5rem;
     border-radius: 2px;
     box-shadow: $shadow-1;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
 
 .upload-repository__box--storage {
     border: 1px solid $color-text-sub;
     
     .storage-status__figure {
         font-size: 1.5rem;
         line-height: 2.4rem;
     }
    
     .storage-status__detail {
         font-size: 1.3rem;
         line-height: 1.6rem;
     }
     
     .storage-status__progress {
         max-width: 83%;
         margin: 0 auto 1rem auto;
     }
 }
 
//  .tooltip.tooltip--available-file {
//    max-width: 45.5rem;
//    .tooltip-inner {
//      letter-spacing: -0.01em;
//      line-height: 2.4rem;
//    }
//  }