.detail-content-item {
    padding: 2rem;
    border: 1px solid $color-disabled;
    .col-md-9 {
        border-right: 1px solid $color-disabled;

        .item-text {
            &__content {
                color: $color-text-gray-3;
                padding-right: 2rem;
                p {
                    margin-bottom: 0.5rem;
                    span:first-child {
                        display: inline-block;
                        min-width: 130px;
                    }
                }
            }
        }
    }

   .col-md-3 {
       margin: auto 0;
        .item-btn {
            p {
                color: $color-text-gray-3;
            }
        }
   }
}

.border-button {
    border: 1px solid $color-primary !important;
}