.wrap__ManagerStudent{
    background: #ffffff;
    padding: 20px;
    .title__ManagerStudent{
        padding: 20px;
        span{
            padding-bottom: 10px;
            display: inline-block;
        }
    }
    
}