.the-header {
    padding: 0;
}

.header-dropbox {
    position: relative;
    padding: 2rem 0;
    
    .content {
        position: absolute;
        right: -1.5rem;
        top: 100%;
        width: 29rem;
        opacity: 0;
        visibility: hidden;

        > div {
            margin-top: 20px;
            background: #fff;
            padding: 2rem;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
        }

        .icon {
            vertical-align: middle;
        }

        .icon-up {
            float: right;
            margin-right: 1rem;
            margin-top: 11px;
        }
    }

    &:hover {
        .content {
            opacity: 1;
            visibility: visible;
        }
    }
}

.percent {
    position: relative;
    height: 3.2rem;
    width: 3.2rem;

    .percent-cup {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
    }

    &.complete {
        .percent-cup svg path {
            fill: $color-primary;
        }
    }
}
.circular-chart {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.circle {
    stroke: $color-primary;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    position: relative;
    z-index: 9;
    
    &.circle-bg {
        stroke: #e0e0e0;
        position: relative;
        z-index: 1;
        animation: progress 200ms ease-out forwards;
    }
}

.the-header-btn-exit {
    font-weight: 500;
    margin-left: 2.1em;
    height: 3.7rem;

    .icon {
        font-size: 2rem;
    }
}

.the-header--course {
    .the-header__divider {
        height: 4rem;
        margin: 0 3rem;
    }

    .the-header__logo {
        margin-right: 0;
    }

    .the-header__course-title {
        @include text-overflow;
        display: block;
        font-size: map-get($text-size, 'heading-3');
        margin-right: 3rem;
    }

    .the-header__content {
        height: 7rem;
    }

    .the-header__right {
        flex-shrink: 0;
    }
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}