.post-slider {
    .swiper-slide {
        img {
            display: block;
            width: 100%;
        }
    }
    
    .swiper-button-prev, .swiper-button-next {
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 3.3rem;
        height: 4.5rem;
        margin-top: -(4.5rem/2);
        font-size: 3rem;
        background-image: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-dark, .5);

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }

        &:hover {
            background-color: $color-primary;
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-pagination {
        margin-top: 2.5rem !important;
        position: relative;
        line-height: 0;
        margin-bottom: -1rem;
    }

    .slider-title {
        color: #333;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 1rem;
        display: block;
    }
}
.slider-box {
    background-color: #fff;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

.post-slider-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}