.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: map-get($z-index, modal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.2);
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    padding: 4rem 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}