.olclasses-create-side-title {
    background: #F8F8F8;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.olclasses-create-main {
    .form-item {
        margin-bottom: 2rem;
        .form-item-box {
            background-color: #F8F8F8;
            padding: 1rem;
        }
        >label {
            margin-bottom: 1rem;
            display: block;
        }
        .app-checkbox {
            display: flex;
            margin-right: 2rem;
            align-items: center;
        }
        .app-radio {
            display: inline-flex;
            align-items: center;
        }
        .btn-toggle {

        }
        .app-date-picker {
            margin-left: 0;
            margin-right: 2rem;
        }
    }
}

.input-limit {
    position: relative;
    input {
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      height: 4rem;
      width: 100%;
      padding: 0 5rem 0 1.5rem;
    }
    .limit {
      background: $color-primary;
      padding: 0 1rem;
      color: #fff;
      position: absolute;
      right: 0;
      top: 0;
      height: 4rem;
      width: 4rem;
      line-height: 4rem;
      text-align: center;
    }
  }