.titleMaterials__ElearningManager{
    span{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #32AF85;
    }
}
.wrapContentMaterials__ElearningManager{
    background: #FFFFFF;
    padding: 18px;
}