// .manager-side {
//   .item {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     padding: 1.2rem 1.5rem;
//     font-weight: 500;
//     color: $color-text;
//     button {
//       outline: none;
//       line-height: 1;
//     }
//     svg {
//       margin-right: 0.8rem;
//       width: 2rem;
//       path {
//         fill: currentColor;
//         fill-opacity: 1;
//       }
//     }
//     &:hover {
//       color: #008329;
//       background-color: #F9F9F9;
//       svg path {
//         fill: #008329;
//       }
//     }
//     .lv-0 {
//       font-weight: normal;
//     }
//     &.active {
//       font-weight: bold;
//       color: $color-primary;
//       .lv-0 {
//         font-weight: bold;
//         color: $color-primary;
//       }
//       svg path {
//         fill: $color-primary;
//       }
//     }
//   }
//   ul {
//     list-style-position: inside;
//     padding-left: 2rem;
//     font-weight: normal;
//     li {
//       padding-top: 1rem;
//       > a {
//         margin-left: -0.5rem;
//       }
//     }
//   }
// }

.manager-side-menu {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.manager-side {
  list-style: none;
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
  }
  li {
    font-size: 1.5rem;
    line-height: 1.8rem;
    a {
      display: flex;
      align-items: center;
      padding: 1.5rem 2rem;
      color: $color-text;
      text-decoration: none;
      position: relative;
      &.active {
        color: $color-primary;
      }
      svg {
        fill-opacity: 1;
        margin-right: 1rem;
        path {
          fill: currentColor;
          fill-opacity: 1;
        }
      }

      &:hover {
        background-color: #F2F2F2;
        color: $color-primary;
      }
    }
    .mns__suf-icon {
      position: absolute;
      right: 0;
      height: 1.75rem;
      top: calc(50% - 0.875rem);
    }
  }
}

.manager-side-item--active {
  font-weight: 500;

  .mns__suf-icon {
    transform: rotate(180deg);
  }
  .manager-side-sub {
    display: inline;
  }
}

.manager-side-sub {
  display: none;
  li {
    background-color: #F2F2F2;
    a {
      text-decoration: none;
      svg {
        margin-right: 0.2rem;
        margin-left: 2.3rem;
      }
    }
  }
}