.app-carousel-wrapper {
    position: relative;
}

.app-carousel.swiper-container {
    margin-left: -9px;
    margin-right: -9px;
    padding-left: 9px;
    padding-right: 9px;

    .swiper-pagination-bullet {
        background-color: #DADADA;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: $color-primary;
    }
}

.app-next, .app-prev {
    position: absolute;
    top: -30px;
    background-image: none !important;
    height: 3rem;
    width: 3rem;
    background: $color-primary;
    box-shadow: 0px 1px 5px rgba(86, 86, 86, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.6rem;
    color: $color-text-white;
    z-index: 2;
    font-size: 3.2rem;
    cursor: pointer;
    outline: none;

    &[disabled] {
        opacity: 1;
        background: $color-disabled;
        box-shadow: none;
    }
}

.app-next {
    right: 0;
}

.app-prev {
    right: 40px;
}
