.school-about {
    background-color: #fff;
    padding: 2rem 1rem;
    h3 {
        font-size: 1.8rem;
    }
    .school-about__content-title {
        font-size: 2.4rem;
        border-bottom: 1px solid #eee;
        padding: .6rem 0;
        margin-bottom: 2rem;
    }
}
.school-about__image {
    width: 30%;
}
.description {
    margin-top: .6rem;
    color: #666;
}