.school-summary {
    position: relative;
    background: $color-text-white;

    &__cover {
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

    &__avatar {
        position: absolute;
        left: 35px;
        bottom: 5%;
        transform: translateY(-5%);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        background: $color-text-white;
        width: 165px;
        height: 165px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            @media (min-width: 768px) {
                max-width: 100px;
                max-height: 100px;
            }
        }
    }

    &__info {
        padding: 3rem 0 3rem 23rem;
        display: inline-block;

        h4 {
            text-transform: uppercase;
            margin-bottom: 1.2rem;
        }

        .info-item {
            font-size: 1.3rem;

            a {
                text-decoration: none;
                font-size: 1.3rem;
                color: $color-text;
            }

            svg {
                vertical-align: middle;
            }
        }
    }
}
