.maintain {
    background: $color-text-white;
    text-align: center;
    padding: 4rem;

    &__content {
        font-size: 1.5rem;
    }

    &__button-back {
        margin-bottom: 1rem;
        
        a {
            text-decoration: none;
            color: $color-text-white;
            display: flex;
            align-items: center;
        }
    }
}