.learn-coursera {
    background: #1D4354;
    padding: 7rem 0;

    &__img {
        background: url("/images/home/learn-coursera-img.png") no-repeat;
        background-position: center;
        background-size: cover;
        height: 266px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 2px;
    }

    &__text {
        margin-top: 2rem;
        margin-left: 4rem;
        .text-title {
            font-size: 3rem;
            color: $color-text-white;
            margin-bottom: 1rem;
        }

        .content {
            font-size: 1.8rem;
            color: $color-text-white;
            margin-bottom: 4.6rem;
        }

        a {
            font-size: 1.5rem;
            padding: 0.8rem 3.3rem;
        }
    }
}