.comment-item-replied {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin-top: 1.3rem;

    &__text {
        font-size: 1.2rem;
        margin-left: 1.1rem;
    }

    &__name {
        font-weight: 700;
    }

    &__status {
        color: $color-text-dark;
    }
}