.elearning-account {
	h1 {
		margin-bottom: 2rem;
	}
}
.elearning-account__toolbar {
	display: flex;
	align-items: center;
	margin: 2.5rem 0;
	.app-select {
		margin-right: 2rem;
		height: 3.5rem;
	}
	.btn {
		margin-right: 3rem;
	}
	.form-group {
		margin-bottom: 0;
	}
	.form-control {
		height: 3.5rem;
	}
}
.elearning-account__categories {
	a {
		display: inline-block;
		margin-right: 3rem;
		cursor: pointer;
	}
}
