.filter-form {
    padding: 0;
    display: flex;
    
    &__item__btn {
        outline: none;
    }

    &__item {
        margin: 0 0.6rem 1.5rem 0.6rem;
        display: flex;
        align-items: center;
        &.flex-1 {
            flex: 1;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        .app-date-picker {
            width: 13rem;
            .mx-datepicker svg {
                fill: $color-primary !important;
            }
        }

        .app-search {
            &.app-input {
                width: 100%;
            }
            .app-search__input input {
                max-width: 100%;
            }
            .submit-btn {
                background: $color-primary;
                color: #fff !important;
            }
        }

        &__selection {
            min-width: 10rem;
            width: 100%;
        }

        .app-input {
            margin-bottom: 0;

            input {
                //padding-right: 1.5rem;
                //padding-left: 1.5rem;
            }

        }
    }

    &__item--search {
        // border: 1px solid #eee;
        // display: flex;
        // height: 3.2rem;
        // padding: 0;
        width: 29rem;

        // .app-input,
        // button {
        //     display: inline-block;
        // }

        // .app-input {
        //     width: calc(100% - 3.2rem); //sub the width of search icon
        //     &__input {
        //         border: 0;
        //         height: 3rem;
        //     }
        // }

        // button {
        //     width: 3rem;
        //     height: 3rem;
        //     &:hover,
        //     &:focus {
        //         outline: 0;
        //     }
        // }
    }

    &__right {
        margin-left: auto; // To float all content to right
    }
}

.button-delete {
    background-color: #EB5757;
    color: #fff;
    border-radius: 2px;
}