.form-dropdown {
  border: 1px solid $color-text-sub;
  padding: 2rem;
  margin-bottom: 0;
  
  &__title {
    position: relative;
  }
  
  .fd__title-main {
    font-weight: 600;
    color: $color-dark;
    margin-bottom: 1rem;
    letter-spacing: -0.01em;
  }
  
  .fd__title-des {
    font-size: 1.3rem;
    color: $color-gray;
  }
  
  &__indicator {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    
    svg {
      width: 8px;
      
      path {
        fill: currentColor;
      }
    }
  }
  
  &__expand {
    padding-top: 2rem;
  }
}

.setting-notify-content__account-info {
  .form-dropdown {
    border-bottom: 0;
  }
  
  .form-dropdown:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  
  .form-dropdown:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 1px solid $color-text-sub;
  }
  
  .icon-title__account-info {
    display: flex;
    justify-items: center;
    align-items: center;
    color: $color-text-gray;
    margin: 10px;
    
    svg {
      margin-right: 2rem;
      
      path {
        fill: currentColor;
      }
    }
  }
}

.box-bank-card {
  background: #FBFBFB;
  border: 1px dashed $color-text-gray-2;
  border-radius: 4px;
  padding: 1.5rem 2.2rem;
  margin-bottom: 2rem;
  
  .title {
    line-height: 2rem;
    letter-spacing: -0.01em;
    color: $color-text-dark;
    margin-bottom: 1rem;
  }
  
  .value {
    font-weight: 600;
  }
  .action-group {
    button {
      outline: none;
      .icon {
        height: 1.3rem;
        width: 1.3rem;
      }
    }
  }
}