.app-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
  
  .app-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .app-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 100px;
  }
  
  .app-slider:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    bottom: 2px;
    left: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .app-slider {
    background-color: $color-primary;
  }
  
  input:focus + .app-slider {
    box-shadow: 0 0 1px $color-primary;
  }
  
  input:disabled + .app-slider{
    background-color: #EEEEEE;
  }

  input:checked + .app-slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }