.app-alert {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    line-height: (22/14);
    border-radius: 2px;

    &__icon-wrapper {
        margin-right: 1.5rem;

        svg {
            display: block;
        }
    }

    &__icon {
        font-size: 2rem;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: .5rem;
        
        svg {
            display: block;
            font-size: 1.2rem;
            fill: $color-disabled;
        }
    }
}

// MODIFIERS
@each $name, $color in $colors {
    .app-alert--#{$name} {
        border: 1px solid $color;
        background-color: rgba($color, .1);
        
        .app-alert__content {
            color: $color;
        }

        .app-alert__icon {
            fill: $color;
        }

        .app-alert__close {
            svg {
                fill: $color;
            }
        }
    }
}

.app-alert--has-close {
    padding-right: 4rem;
}

.app-alert--size-sm {
    $origin: '.app-alert';
    font-size: map-get($text-size, 'caption');
    padding: 1.2rem;

    #{$origin}__icon-wrapper {
        margin-right: 0.5rem;
    }
}