.block-section {
    background-color: transparent;
    margin-bottom: 1.5rem;
    
    .block-section__main {
        padding: 1rem 0;
    }
    
    &__title {
        padding: .5rem 0;
        a {
            text-decoration: none;
        }
        &__nav {
            a {
                font-size: 1.4rem;
                line-height: 19px;
                display: inline-block;
                cursor: pointer;
                padding: 1rem 0;
                color: #666666;
                margin: 0 3.5rem;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            
            a.active,
            a:hover {
                font-weight: bold;
                border-bottom: 3px solid $color-primary;
                color: #333333;
            }
        }
    }
    
    &__title--main {
        color: $color-text-dark;
        display: flex;
        align-items: center;
        
        svg {
        
        }
        svg path {
            fill: currentColor;
        }
    }
    
    &__icon-title {
        margin: 0 1.5rem 0 1rem;
        &:hover {
            cursor: pointer;
            path {
                fill: $color-primary;
            }
        }
    }
}