.app-dropdown {
    display: inline-block;
    position: relative;
}

.app-dropdown__content {
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 16px rgba(29, 36, 62, 0.12);
    z-index: 9;
    transition: visibility .3s, opacity .3s;
    visibility: hidden;
    opacity: 0;
}


// Active
.app-dropdown-active {
    .app-dropdown__content {
        visibility: visible;
        opacity: 1;
    }
}

// Modifier
.app-dropdown--right {
    .app-dropdown__content {
        right: 0;
    }
}

.app-dropdown--center {
    .app-dropdown__content {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.app-dropdown--left {
    .app-dropdown__content {
        left: 0;
    }
}


.app-dropdown--top-right {
    .app-dropdown__content {
        left: auto;
        top: auto;
        right: 0;
        bottom: 100%;
        margin-bottom: 5px;
    }
}

.app-dropdown--top-left {
    .app-dropdown__content {
        right: auto;
        top: auto;
        left: 0;
        bottom: 100%;
        margin-bottom: 5px;
    }
}

.app-dropdown--top-center {
    .app-dropdown__content {
        right: auto;
        top: auto;
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, 0);
        margin-bottom: 5px;
    }
}

.app-dropdown--bottom-right {
    .app-dropdown__content {
        left: auto;
        bottom: auto;
        right: 0;
        top: 100%;
        margin-top: 5px;
    }
}

.app-dropdown--bottom-left {
    .app-dropdown__content {
        left: 0;
        bottom: auto;
        right: auto;
        top: 100%;
        margin-top: 5px;
    }
}

.app-dropdown--bottom-center {
    .app-dropdown__content {
        right: auto;
        top: 100%;
        left: 50%;
        bottom: auto;
        transform: translate(-50%, 0);
        margin-top: 5px;
    }
}

.app-dropdown--left-top {
    .app-dropdown__content {
        left: auto;
        bottom: 0;
        right: 100%;
        top: auto;
        margin-right: 5px;
    }
}

.app-dropdown--left-middle {
    .app-dropdown__content {
        left: auto;
        bottom: auto;
        right: 100%;
        top: 50%;
        transform: translate(0, -50%);
        margin-right: 5px;
    }
}

.app-dropdown--left-bottom {
    .app-dropdown__content {
        left: auto;
        bottom: auto;
        right: 100%;
        top: 0;
        margin-right: 5px;
    }
}

.app-dropdown--right-top {
    .app-dropdown__content {
        left: 100%;
        bottom: 0;
        right: auto;
        top: auto;
        margin-left: 5px;
    }
}

.app-dropdown--right-middle {
    .app-dropdown__content {
        left: 100%;
        bottom: auto;
        right: auto;
        top: 50%;
        transform: translate(0, -50%);
        margin-left: 5px;
    }
}

.app-dropdown--right-bottom {
    .app-dropdown__content {
        left: 100%;
        top: 0;
        right: auto;
        bottom: auto;
        margin-left: 5px;
    }
}