.app-modal-confirm {
    .app-modal-content {
        text-align: center;
        padding: 3rem 2.4rem 2rem;
    }

    &--default {
        .app-modal-confirm__close {
            top: .5rem;
            right: .5rem;
        }
    }
}

.app-modal-confirm__close {
    position: absolute;
    top: 1.9rem;
    right: 1.9rem;
    font-size: map-get($text-size, 'heading-3');
}

.app-modal-confirm__icon {
    margin-bottom: 1.5rem;
}

.app-modal-confirm__title {
    margin-bottom: 1rem;
}

.app-modal-confirm__desc {
    margin-bottom: 2.5rem;
    font-size: map-get($text-size, 'body-1');
}

.app-modal-confirm__actions {
    margin-top: 2.5rem;

    .btn {
        padding-left: 2.2rem;
        padding-right: 2.2rem;
    }
}