.app-content-box {
    display: flex;
    margin-bottom: 1rem;
}

a.app-content-box {
    text-decoration: none;
    color: inherit;
}

.app-content-box__image {
    flex-shrink: 0;
    border-radius: $border-radius-common;
    background-color: $color-image-placeholder;
    overflow: hidden;
    
    img {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &[src] {
            display: block;
        }
    }
}

.app-content-box__title {
    font-size: 1.6rem;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $color-primary;
        }
    }
}

.app-content-box__desc {
    // color: $color-text-sub;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.app-content-box__meta-footer {
    margin-top: auto;
    // color: $color-text-gray-2;
    text-transform: uppercase;
}


// Direction type
.app-content-box--horizontal {
    flex-direction: row;

    &.app-content-box--size-sm {
        .app-content-box__image {
            flex: 0 0 8rem;
            width: 8rem;
            margin-right: 1.6rem;
        }

        .app-content-box__title {
            @include set-line((
                lineClamp: 2,
                lineHeight: (18/13)
            ));
            font-size: 1.3rem;
            margin-bottom: 3px;
            font-weight: 500;
        }

        .app-content-box__desc {
            @include set-line((
                lineClamp: 2,
                lineHeight: (16/14)
            ));
        }
    }

    &.app-content-box--size-md {
        .app-content-box__image {
            flex: 0 0 15rem;
            width: 15rem;
            height: 15rem;
            margin-right: 1.4rem;
        }

        .app-content-box__title {
            margin-bottom: 7px;
            @include set-line((
                lineClamp: 1,
                lineHeight: (22/16)
            ));
        }

        .app-content-box__desc {
            @include set-line((
                lineClamp: 3,
                lineHeight: $line-height-base
            ));
        }

        .app-content-box__meta {
            display: flex;
            flex-direction: column;
        }
    }
}

.app-content-box--vertical {
    flex-direction: column;
}

// Types
.app-content-box--type-preview-link {
    border: 1px solid $color-disabled;
    box-shadow: $shadow-1;
    border-radius: $border-radius-common;
    padding: 2rem 2rem 1.4rem 2rem;
    
    .app-content-box__title {
        font-size: 1.4rem;
        color: #000;
    }
    
    .app-content-box__image + .app-content-box__meta {
        margin-top: 1.4rem;
    }

    .app-content-box__title + .app-content-box__desc {
        margin-top: 0.5rem;
    }

    .app-content-box__desc + .app-content-box__meta-footer {
        margin-top: 1.1rem;
    }
}